{% extends "base/base.html" %}

{% block content %}
    
    <h2>Your order was successfully placed!</h2>

    <hr>

    <div class="container mt-2">
        <a href="{% url 'base:profile' %}" class="btn btn-warning btn-lg btn-block mt-4 mx-auto" style="width:500px">Back to my profile</a>
    </div>
    <div class="container mt-2">
        <a href="{% url 'base:home' %}" class="btn btn-warning btn-lg btn-block mt-3 mb-3 mx-auto" style="width:500px">Back to the home page</a>
    </div>

    <h3>Customers also bought...</h3>

    <div class="container">
        {% for prod in recomm_filtered %}
            <p>{{ prod }}</p>
        {% endfor %}
    </div>


{% endblock content %}