{% extends "base/base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 border">

          <!--Content-->
          <div class="p-4">

            <p class="lead">
              <h2>{{ object.title }}</h2>
            </p>

            <p class="lead">
              <span>&#8377;{{ object.price }}</span>
            </p>

            <p class="lead font-weight-bold">{{ object.seller }}</p>

            <p>
              <h5>Available units: {{ object.available_units }}</h5>
            </p>

            {% comment %}<form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <div class="container border">
              <h4 class="mt-2">Cart</h3>
              <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p mt-1">
                Add a unit to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ object.get_remove_one_from_cart_url }}" class="btn btn-warning btn-md my-0 p mt-2">
                Remove one from cart
              </a>
              <a href="{{ object.get_remove_all_from_cart_url }}" class="btn btn-danger btn-md my-0 p mt-2 mb-2">
                Remove all from cart
              </a>
            </div>
            <div class="container border mt-2">
              <h4 class="mt-2">Wishlist</h4>
              <a href="{{ object.get_add_to_wishlist_url }}" class="btn btn-primary btn-md my-0 p mt-1">
                Add to wishlist
              </a>
              <a href="{{ object.get_remove_all_from_cart_add_to_wishlist_url }}" class="btn btn-warning btn-md my-0 p mt-2 mb-2">
                Move from cart to wishlist
              </a>
            </div>
            
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <div class="container">

        <h2>Reviews</h2>

        <div>
          {% for rev in review_list %}
            <div>
              <p>Date: {{ rev.post_date }} | User: {{ rev.user.username }}</p>
              <p>{{ rev.review }}</p>
            </div>
          {% empty %}
            <div>
              <p>No reviews yet...</p>
            </div>
          {% endfor %}
        </div>

        <h3>Add a review</h3>

        <form method="POST" action="">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add a review here..." name="review"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        

      </div>

      <hr>
      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>
            <h5>Description</h5>
            <span>{{ object.description}}</span>
          </p>

          <p>
            <h5>Ratings</h5>
            <span>Rating: {{ object.ratings }}</span>
          </p>

        </div>
        <!--Grid column-->

      </div>

      

    </div>
  </main>

{% endblock content %}

