{% extends "base/base.html" %}

{% block content %}
    {% for prod in object_list %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ prod.seller }}</a>
                <small>|</small>
                <small class="text-muted">{{ prod.price }}</small>
                <small>|</small>
                <small class="text-muted">{{ prod.categories }}</small>
            </div>
            <h2><a class="article-title" href="{{ prod.get_abs_url }}">{{ prod.title }}</a></h2>
            <p class="article-content">{{ prod.description }}</p>
            <p class="article-content">Availaible units: {{ prod.available_units }}</p>
            <p class="article-content">Review: {{ prod.reviews }}</p>
            <p class="article-content">Rating: {{ prod.ratings }} stars</p>
            <div class="container mt-3">
                <img src="{{ prod.image.url }}" alt="" width="200" height="200">
            </div>
            <div class="container mt-3 border border-black">
                <a href="{{ prod.get_add_to_cart_url }}" class="btn btn-primary btn-md my-2 p">
                    Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                </a>
                <a href="{{ prod.get_add_to_wishlist_url }}" class="btn btn-secondary btn-md my-0 p">
                    Add to wishlist
                    <i class="fas fa-shopping-cart ml-1"></i>
                </a>
            </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

