{% extends "base/base.html" %}

{% block content %}

    <h1>Profile</h1>

    <div class="logged-in-box auth0-box logged-in">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
            <h2 class="mt-3">Welcome {{ user_profile_obj.display_name }}</h2>
            <h3>Delivery address: {{ user_profile_obj.delivery_address }}</h3>
            </div>
            <div>
            <img class="avatar mt-5" src="{{ auth0User.extra_data.picture }}" width="150" height="150"/>
            </div>
        </div>
        
 
        <a class="btn btn-warning btn-lg btn-logout btn-block mt-5 mx-auto"  style="width:700px" href="{% url 'base:edit-profile' %}">Edit your profile details</a>

        <hr>

        <a class="btn btn-primary btn-lg btn-logout btn-block mt-3 mx-auto" style="width:700px" href="/logout">Logout</a>

        <hr>
  
        <h4>Your Cart</h4>

        {% for prod in current_cart.products.all %}

            {{ prod.product.title }} | {{ prod.product.seller }} | {{ prod.product.price }}

        {% empty %}

            Your cart is empty! <a href="{% url 'base:view-products'%}">Browse products</a>

        {% endfor %}

        <hr>

        <h4>Your Wishlist</h4>

        {% for wish in current_wishlist.products.all %}

            <p>{{ wish.product.title }} | {{ wish.product.seller }} | {{ wish.product.price }}</p>

        {% empty %}

            Your wishlist is empty!

        {% endfor %}

        <hr>

        <h4>Your Orders</h4>
        {% for cart_order in ordered_products_list %}
        <p>{{ cart_order.product.title }} | {{ cart_order.product.price }} | {{ cart_order.product.seller }}</p>
        {% empty %}
        You haven't ordered anything yet! <a href="{% url 'base:cart' %}">Checkout my cart</a>
        {% endfor %}
        
    </div>
    
{% endblock content %}