{% extends "base/base.html" %}

{% block content%}
    <h2>Search Products</h2>
    <form action="search-form" method="GET">
        <input class="form-control py-2 border-right-0 border mt-2 mb-2" type="search" name="title_contains" placeholder="Title contains..." />
        <input class="form-control py-2 border-right-0 border mt-2 mb-2" type="search" name="seller_contains" placeholder="Seller contains..." />
        <input class="form-control py-2 border-right-0 border mt-2 mb-2" type="search" name="id_exact" placeholder="ID is..." />
        <input class="form-control py-2 border-right-0 border mt-2 mb-2" type="search" name="name_or_seller" placeholder="Title or seller contains..." />
        <div class="row">
            <div class="form-group col-md-4 col-lg-4">
              <label for="viewCountMin">Minimum Price</label>
              <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="view_price_min">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-lg-4">
              <label for="viewCountMax">Maximum Price</label>
              <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000" name="view_price_max">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for cat in category_set %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="category">Rating</label>
            <select id="category" class="form-control" name="rating">
              <option selected>Choose...</option>
              {% for cat in rating_set %}
                <option value="{{ cat }}">{{ cat }} stars</option>
              {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-2">Search</button>
    </form>

    <hr>

    {% if average_rating != 0 %}
        <div><p>Average rating for {{selected_category}}: {{average_rating}} stars</p></div>
        <hr>
    {% endif %}

    {% if average_rating == 0 and selected_rating != '' %}
        <div><p>Filtering on rating: {{selected_rating}}</p></div>
        <hr>
    {% endif %}

    <div class="row">
        <ul>
            {% for prod in queryset %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ prod.seller }}</a>
                    <small>|</small>
                    <small class="text-muted">{{ prod.price }}</small>
                    <small>|</small>
                    <small class="text-muted">{{ prod.kind }}</small>
                </div>
                <!-- <span>
                    {% for cat in product.categories.all %}
                        {{ cat }}
                    {% endfor %}
                </span> -->
                <h2><a class="article-title" href="#">{{ prod.title }}</a></h2>
                <p class="article-content">{{ prod.description }}</p>
                <p class="article-content">Availaible units: {{ prod.available_units }}</p>
                <p class="article-content">Category: {{ prod.categories }}</p>
                <p class="article-content">Rating: {{ prod.ratings }}</p>
                </div>
            </article>
            <hr>
            {% endfor %}
        </ul>
    </div>

{% endblock content%}